Windows/VisualStudio/.vs/
Windows/VisualStudio/Build-*/
Windows/VisualStudio/ironwail.vcxproj.user
Quake/*.o
Quake/*.d
Quake/*.res
Quake/*.exe
Quake/ironwail
Quake/dependencies/
Quake/run-with-downloaded-libs.sh
build/
/.vs
/out/
Windows/build-pluq-mingw/
Windows/build-pluq-mingw-ucrt/
pluq-deployment/test-monitor
pluq-deployment/test-command
pluq-deployment/test-input-receiver
pluq-deployment/test-backend-simulator
pluq-deployment/*.log
