Windows/VisualStudio/.vs/
Windows/VisualStudio/Build-*/
Windows/VisualStudio/ironwail.vcxproj.user
Quake/*.o
Quake/*.d
Quake/*.res
Quake/*.exe
Quake/ironwail
Quake/dependencies/
Quake/run-with-downloaded-libs.sh
build/
/.vs
/out/
Windows/build-pluq-mingw/
Windows/build-pluq-mingw-ucrt/
tests/test-monitor
tests/test-command
tests/test-input-receiver
tests/test-backend-simulator

# Log and temporary files
*.log
*.tmp
*~
.DS_Store
