name: Linux CI
on: [push, pull_request]
jobs:
  build:
    name: Linux / ${{ matrix.compiler }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        compiler: ["clang", "gcc"]
    steps:
    - uses: actions/checkout@v4
    - name: Install Build Tools
      run: sudo apt update && sudo apt install cmake gcc g++ make git libcurl4-openssl-dev libsdl2-dev
    - name: Rebuild Prebuilt Libraries (Linux/pluq/)
      run: cd Linux && ./build-pluq-libs.sh
    - name: Build Dependencies (nng, flatcc, audio libs)
      run: cd Quake && ./download-dependencies.sh
    - name: Build Ironwail
      run: make --jobs=3 --keep-going --directory=Quake CC=${{ matrix.compiler }}
