name: MinGW CI

on: [push, pull_request]

jobs:
  build-linux:
    name: Build MinGW
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        config:
          - target: win32
            package: i686-win32
          - target: win64
            package: x86-64

    steps:
      - uses: actions/checkout@v4

      - name: Install LLVM-MinGW (UCRT)
        run: |
          LLVM_MINGW_VERSION="20251104"
          LLVM_MINGW_ARCH="x86_64"
          LLVM_MINGW_URL="https://github.com/mstorsjo/llvm-mingw/releases/download/${LLVM_MINGW_VERSION}/llvm-mingw-${LLVM_MINGW_VERSION}-ucrt-ubuntu-22.04-${LLVM_MINGW_ARCH}.tar.xz"
          wget -q "$LLVM_MINGW_URL"
          sudo tar -xf llvm-mingw-${LLVM_MINGW_VERSION}-ucrt-ubuntu-22.04-${LLVM_MINGW_ARCH}.tar.xz -C /opt
          sudo mkdir -p /opt/llvm-mingw
          sudo ln -sf /opt/llvm-mingw-${LLVM_MINGW_VERSION}-ucrt-ubuntu-22.04-${LLVM_MINGW_ARCH} /opt/llvm-mingw/llvm-mingw-${LLVM_MINGW_VERSION}-ucrt-ubuntu-22.04-${LLVM_MINGW_ARCH}
          rm llvm-mingw-${LLVM_MINGW_VERSION}-ucrt-ubuntu-22.04-${LLVM_MINGW_ARCH}.tar.xz

      - name: Build MinGW ${{ matrix.config.target }}
        run: |
          export MAKEFLAGS=--jobs=3\ --keep-going
          cd Quake && ./build_cross_${{ matrix.config.target }}-sdl2.sh
